<footer>
    <p class="small-text">© Copyright 2024.</p>
    <p class="small-text">
        Developed and hosted by
        <a href="https://www.jaspa.co.za" target="_blank">Jaspa IT Solutions</a>
    </p>
    <p class="small-text">Disclaimer</p>
</footer>