<html lang="en">
<head>
    <%- include('partials/_header.ejs') %>
    <title>Banking Details</title>
</head>
<body style="background-image: url('bg.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
<div class="form-container" style="background-color: #f0f0f0; padding: 20px;">
    <h3>Banking Details</h3>
    <hr>
    <form id="popia-form" action="/banking-details" method="post">
        <div class="form-group">
            <label  class="text-left small" for="bank-name">Select Bank</label>
            <select id="bank-name" name="bank-name" required>
                <option value="" disabled selected>Select Bank</option>
                <option value="Abase">Absa Group Limited</option>
                <option value="AfricanBank">African Bank Limited</option>
                <option value="BankZero">Bank Zero</option>
                <option value="ABSA">Bidvest Bank Limited</option>
                <option value="Capitec">Capitec Bank Limited</option>
                <option value="Discovery">Discovery Limited</option>
                <option value="FNB">First National Bank</option>
                <option value="RMB"> Rand Merchant Bank</option>
                <option value="Grindrod">Grindrod Bank Limited</option>
                <option value="Investec">Investec Bank Limited</option>
                <option value="Nedbank">Nedbank Limited</option>
                <option value="Standard">Standard Bank of South Africa</option>
                <option value="Ubank">Ubank Limited</option>
                <option value="TymeBank">TymeBank</option>
            </select>
            <label  class="text-left small" for="account-number">Account Number</label>
            <input type="number" name="account-number" id="account-number" required>
            <label  class="text-left small" for="account-holder">Account Holder</label>
            <input type="text" name="account-holder" id="account-holder" required>
            <label  class="text-left small" for="account-type">Select Account Type</label>
            <select id="account-type" name="account-type" required>
                <option value="" disabled selected>Select Account Type</option>
                <option value="Savings">Savings</option>
                <option value="Cheque">Cheque</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit">CONTINUE TO NEXT OF KIN</button>
        </div>
    </form>
</div>
<%- include('partials/_footer.ejs') %>
</body>

</html>