<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/_header.ejs') %>
   <title>KB Ratshefola - Taxi & Mobility Specialist</title>
</head>

<body>
    <section id="above-fold">
        <button onclick="window.location.href='/pre-approve-now'">Get Pre Approved Now</button>
        <button onclick="window.location.href='#required-vehicle-finance-documents'" >Required Documents</button>
        <button>Refer and Earn</button>
        <button  onclick="window.location.href='/lexus'">Lexus</button>
    </section>

    <section id="required-vehicle-finance-documents" class="container-section">
        <div class="section-content">
            <div class="container">

                <h2 class="section-heading">Required Documents for Vehicle Finance.</h2>

                <div class="document-container">
                    <div class="document-card">
                        <h4>Taxi Finance</h4>
                        <ul>
                            <li> - Valid South African ID/Passport</li>
                            <li> - Proof of Residential Address - latest</li>
                            <li> - 3 Month Bank Statement - latest</li>
                            <li> - Taxi Association Letter - latest</li>
                            <li> - Permit/Grant Letter/OLAS/Taxi Board Receipt</li>
                        </ul>
                    </div>

                    <div class="document-card">
                        <h4>Individual</h4>
                        <ul>
                            <li> - Valid South African ID/Passport</li>
                            <li> - Driver’s License</li>
                            <li> - Proof of Residential Address - latest</li>
                            <li> - 3 Recent Payslips, if employed</li>
                            <li> - 3 Month Bank Statement or</li>
                            <li> - 6 Month Bank Statement if Self-employed</li>
                        </ul>
                    </div>

                    <div class="document-card">
                        <h4>Business</h4>
                        <ul>
                            <li> - CK/ Company Registration Documents</li>
                            <li> - Proof of Business Address</li>
                            <li> - Business’s 6-Month Bank Statement</li>
                            <li> - Valid ID or Passport of each Director</li>
                            <li> - Proof of Address of each Director</li>
                            <li> - 3 Month Bank Statement of each Director</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="stats" class="container-section dark-bg">
        <ul class="stats-list">
            <li>
                <div class="stats-item">
                    <h2 class="counter-stats">100</h2>
                    <p class="stats-text">Customer Experience Satisfaction</p>
                </div>
            </li>
            <li>
                <div class="stats-item">
                    <h2 class="counter-stats">80</h2>
                    <p class="stats-text">Of Referred Clients</p>
                </div>
            </li>
            <li>
                <div class="stats-item">
                    <h2 class="counter-stats">2+</h2>
                    <p class="stats-text">Decades of Automotive Experience</p>
                </div>
            </li>
        </ul>
    </section>

    <section id="contact">
        <h2 class="text-white">Contact Us</h2>
        <div class="contact-container">
            <div class="contact-info">
                <h3>Contact Information</h3>
                <strong>Cell</strong>: +27 73 606 6810<br>
                <strong>Tel</strong>: +27 11 317 8888<br>
                <strong>Email</strong>: kb@halfway4ways.co.za<br><br>
                <div class="social-icons-container">
                    <a href="https://www.facebook.com/profile.php?id=100090419661012&mibextid=ZbWKwL" target="_blank" class="social-icon">
                        <img src="facebook-f.svg" alt="Facebook"/>
                    </a>
                    <a href="https://www.instagram.com/kb.ratshefola?igsh=eTF0ZWJ4Zmd6d29y" target="_blank" class="social-icon">
                        <img src="instagram.svg" alt="Instagram"/>
                    </a>
                    <a href="https://www.tiktok.com/@kb.ratshefola?_t=8imVxnBr1O9&_r=1" target="_blank" class="social-icon">
                        <img src="tiktok.svg" alt="Tiktok"/>
                    </a>
                </div>
                <button>ABOUT KB</button>
            </div>

            <div class="contact-address">
                <h3>Halfway Toyota Fourways</h3>
                <p>Cnr. Winnie Mandela & Leslie Road<br>Fourways<br>Johannesburg</p>
                <p>P.O. Box 1427<br>Magaliessig<br>2067</p>
            </div>
        </div>
    </section>
    <%- include('partials/_footer.ejs') %>
</body>
</html>
