<html lang="en">
<head>
    <%- include('partials/_header.ejs') %>
    <title>POPIA Consent, & Consent to Direct Marketing</title>
</head>
<body style="background-image: url('bg.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
<div class="form-container" style="background-color: #f0f0f0; padding: 20px;">
    <h3>Personal Details</h3>
    <hr>
    <form id="popia-form" action="/popia" method="post">
        <div class="form-group">
            <label class="text-left small"  for="name">Full Names as Per ID</label>
            <input type="text" name="name" id="name" required>
        </div>
        <div class="form-group">
            <label class="text-left small"  for="surname">Surname</label>
            <input type="text" name="surname" id="surname" required>
        </div>
        <div class="form-group">
            <label  class="text-left small" for="id-number">South African ID No.</label>
            <input type="number" name="id-number" id="id-number">
        </div>
        <div class="form-group">
            <label  class="text-left small" for="number">Contact Number</label>
            <input type="text" name="number" id="number" required>
        </div>
        <div class="form-group">
            <label  class="text-left small" for="anumber">Alternative Contact Number</label>
            <input type="text" name="anumber" id="anumber" required>
        </div>
        <div class="form-group">
            <label  class="text-left small" for="house">House/Stand No.</label>
            <input  class="text-left small" type="text" name="house" id="house" required>
            <label  class="text-left small" for="street">Street Name</label>
            <input type="text" name="street" id="street" required>
            <label  class="text-left small" for="suburb">Suburb</label>
            <input type="text" name="suburb" id="suburb" required>
            <label  class="text-left small" for="city">City</label>
            <input type="text" name="city" id="city" required>
            <label  class="text-left small" for="province">Select Province</label>
            <select id="province" name="province" required>
                <option value="" disabled selected>Select Province</option>
                <option value="Eastern Cape">Eastern Cape</option>
                <option value="Free State">Free State</option>
                <option value="Gauteng">Gauteng</option>
                <!-- Add other options for provinces -->
            </select>
        </div>

        <div class="form-group">
            <button type="submit">CONTINUE TO BANKING DETAILS</button>
        </div>
    </form>
</div>
<%- include('partials/_footer.ejs') %>
</body>

</html>