<p>Thank you for providing us with your contact details, one of our dedicated consultants will contact you soon.</p>
<p>Click HOME for required documents and submission, remember to include your contact details.</p>
<button>HOME</button>
<p>Or click CONTINUE to apply for Vehicle Finance Pre-Approval</p>
<small>Terms & Conditions Apply</small>
<button>CONTINUE</button>