
<head>
    <%- include('partials/_header.ejs') %>
    <title>Test Drive Confirmation</title>
</head>
<body style="background-image: url('lexus.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
<div class="form-container" style="background-color: #f0f0f0; padding: 20px; margin-top: 30vh">
    <p>Thank you for providing us with your contact details, one of our dedicated consultants will contact you soon.</p>

    <div class="form-group">
        <button id="homeButton" onclick="window.location.href='/'">HOME</button>
    </div>
</div>

<%- include('partials/_footer.ejs') %>
</body>
