<html lang="en">
<head>
    <%- include('partials/_header.ejs') %>
    <title>Thank you</title>
</head>
<body style="background-image: url('bg.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
<div class="form-container" style="background-color: #f0f0f0; padding: 20px; margin-top: 20vh">
    <p>Thank you, we look forward to assisting you on your vehicle enquiry. Return to HOME for required documents and submission, remember to include your contact details.</p>
    <div class="form-group"  style="margin-top: 20px;">
        <button id="homeButton" onclick="window.location.href='/'">Home</button>
    </div>
</div>

<%- include('partials/_footer.ejs') %>
</body>

</html>